html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

header {
    height: 100%;
    width: 100%;
    background-color: black;
    display: inline-block;
}

h1 {
    color: black;
    padding-top: 10px;
}

nav {
    display: inline-block;
    float: right;
    margin: 0 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
}



